<section id="ramasDepor">
    <div class="container-fluid">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4">Nuestras Ramas Deportivas</h1>
                <br>
                <br>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-2">
                <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(../../../../assets/img/faces/team-2.jpg);">
                    <div class="text w-100 text-center">
                        <h3>Atletismo</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-lg-2">
                <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(../../../../assets/img/faces/team-2.jpg);">
                    <div class="text w-100 text-center">
                        <h3>Gimnasia</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-lg-2">
                <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(../../../../assets/img/faces/team-2.jpg);">
                    <div class="text w-100 text-center">
                        <h3>Hockey</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-lg-2">
                <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(../../../../assets/img/faces/team-2.jpg);">
                    <div class="text w-100 text-center">
                        <h3>Voleibol</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>  