<!--AGREGAR Y MOSTRAR TIPO REUNION-->
<div style="margin-top: 100px;">
    <mat-toolbar color="secondary">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
            </button>
            <h1 class="ms-auto" *ngFor="let persona of this.persona">{{persona.nombre}} {{persona.a_paterno}}</h1>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/menu-principal'">Inicio</a>
            <a mat-list-item [routerLink]="'/perfil'">Mi Perfil</a>
            <a mat-list-item *ngIf="rolAdmin != null || rolSecretario != null" [routerLink]="'/menu-rol'">Mantenedor de Datos</a>
            <a mat-list-item [routerLink]="'/menu-deporte'">Deportivo</a>
            <a mat-list-item [routerLink]="'/menu-socios'">Administrativo</a>
            <a mat-list-item *ngIf="rolAdmin != null || rolSecretario != null" [routerLink]="'/mantenedor-contacto'">Mensajes</a>
            <a mat-list-item *ngIf="rolAdmin != null || rolSecretario != null || rolSecreDir != null" [routerLink]="'/gestor-solicitudes'">Solicitudes</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="container-fluid">
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/menu-principal'">Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/menu-socios'">Menu-Administrativo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Administrador-Tipo-Reunion</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
          <h1>
            Administrador Tipo de Reuniones
            </h1>
            <div id="table" class="table-editable">
                <table class="table table-responsive-sm table-striped text-center">
                    <thead class="thead-dark">
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- <td></td> -->
                            <td><input type="text" class="form-control" name="descripcion" [(ngModel)]="tipo.descripcion" autocomplete="off"></td>
                            <td></td>
                            <td><button class="btn btn-success" (click)="agregarTipoReunion()">Agregar</button></td>
                        </tr>
                        <tr *ngFor="let tipo of tipos">
                            <!-- <td>{{tipo.idTipo}}</td> -->
                            <td>{{tipo.descripcion}}</td>
                                <td *ngIf="tipo.estado==1">Activo</td>
                                <td *ngIf="tipo.estado==0">Inactivo</td>
                            <td> 
                                <i class="fas fa-edit fa-2x" id="editar" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalModificarTipoReunion" (click)="detalleTipoReunionId(tipo.idTipo)"></i>
                                <i class="fas fa-toggle-on fa-2x" *ngIf="tipo.estado==1" id="eliminar" (click)="desactivarTipoReunion(tipo.idTipo)"></i>
                                <i class="fas fa-toggle-off fa-2x" *ngIf="tipo.estado==0" id="eliminar2" (click)="activarTipoReunion(tipo.idTipo)"></i>
                                <!-- <i class="fas fa-trash fa-2x" id="eliminar" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalEliminarTipoReunion" (click)="detalleTipoReunionId(tipo.idTipo)"></i> -->
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
<!--AGREGAR Y MOSTRAR TIPO REUNION-->

<!--MODAL MODIFICAR TIPO REUNION-->
<div class="modal fade" id="modalModificarTipoReunion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Tipo Reunión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="">Id</label>
                    <input type="text" class="form-control" id="id" *ngFor="let tipo of det" value={{tipo.idTipo}} disabled>
                    <label for="">Descripcion</label>
                    <input type="text" class="form-control" id="desc" *ngFor="let tipo of det" value={{tipo.descripcion}} autocomplete="off">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="modificarTipoReunion()">Modificar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--MODAL MODIFICAR TIPO REUNION-->

<!--MODAL ELIMINAR TIPO REUNION-->
<!-- <div class="modal fade" id="modalEliminarTipoReunion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Eliminar Tipo Reunión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 *ngFor="let tipo of det">¿Está seguro de eliminar a {{tipo.descripcion}}?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btnEliminar" *ngFor="let tipo of det" (click)="eliminarTipoReunion(tipo.idTipo)">Eliminar</button>
          <button type="button" class="btn btn-secondary" id="btnCerrar" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div> -->
<!--MODAL ELIMINAR TIPO REUNION-->