.container-fluid
{
    margin-top: 50px;
}

h1
{
    text-align: center;
}

input.ng-dirty.ng-invalid {
    border-bottom: 3px solid red
}

input.ng-dirty.ng-valid {
    border-bottom: 3px solid green
}

.error{
    color:red
}