<div class="pie">
    <section>
        <div class="contenedor">
            <br>
            <div class="row">
                <div class="col-sm-4" id="datos">
                    <p>Dirección: Calle Saint Margaret 150, Concón, Valparaíso.</p>
                    <p>Contacto: stmsportsclub@gmail.com</p>
                    <p>Teléfono: (32) 245 1704</p>
                </div>
                <div class="col-sm-4 text-center" id="redes">
                    <a class="icon">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a class="icon">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a class="icon">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </div>
                <div class="col-sm-4" id="logofooter">
                    <img src="../../../assets/logo-no-borde2.png">
                </div>
            </div>
        </div>
        <br>
        <div class="copyright text-center">
            <p>Club Deportivo Escolar Saint Margaret's Sports Club © Derechos Reservados 2021</p>
        </div>
    </section>
</div>