    <!-- CARRUSEL--> 
    <app-carrusel></app-carrusel>
    <!--CARRUSEL-->
   
    <!-- <app-noticias></app-noticias> -->
    <app-noticias-eventos></app-noticias-eventos>
    
    <br>
    <br>

    <app-ramas></app-ramas>
   
    <br>
    <br>

    <app-multimedia></app-multimedia>
    
    <br>
    <br>

    <app-directiva></app-directiva>
 
    <br>
    <br>
    
    <app-contacto></app-contacto>

    <br>
    <br>
    <!--PATROCINADORES-->
    <app-patrocinadores></app-patrocinadores>
    <!-- PATROCINADORES -->
